@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4 text-info">Добре дошли в нашето приложение за създаване на тестове по математика!</h1>
    </div>
    <div class="text-center">
        <p class="display-6" style="font-size: 30px;"> Тук можете да генерирате тестове, да проверявате резултатите си и решенията на отговорените въпроси и да създавате нови и нови тестове всеки път.</p>
    </div>
    <div class="text-center">
        <img src="~/lib/image0_0.jpg" alt="Илюстрация" />
    </div>
    <div class="text-center">
        <p class="text-warning" style="font-size: 30px;">Генерирай първия си тест още днес:</p>
    </div>
    <div class="text-center">
        <a href="/Test/Create" class="btn btn-primary">Създай тест</a>
    </div>
</div>
