@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h1 class="display-4 text-info">Добре дошли в нашето приложение за създаване на тестове по математика!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 text-center">
            <p class="display-6" style="font-size: 30px;">Тук можете да генерирате тестове, да проверявате резултатите си и решенията на отговорените въпроси и да създавате нови и нови тестове всеки път.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 text-center">
            <img src="~/lib/image0_0.jpg" class="img-fluid" alt="Илюстрация" />
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 text-center">
            <p class="text-warning" style="font-size: 30px;">Генерирай първия си тест още днес:</p>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-8 text-center">
            <a href="/Test/Create" class="btn btn-primary" style="width: 200px">Създай тест</a>
        </div>
    </div>
</div>