html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Times New Roman", Times, serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}


li {
    list-style-type: none;
}

.button-test {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
}

h2.text-center {
    cursor: default;
}

select.form-control {
    cursor: pointer;
}

input.form-control-file {
    cursor: pointer;
}

.form-control option {
    cursor: pointer;
}