html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    min-height: 100vh;
    font-family: "Times New Roman", Times, serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f2f2f2; /* Fixed height for header and footer */
}

footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.container {
    flex-grow: 1;
}
.container-fluid.mt-2 {
    background-color: #7fb5e8;
    flex-grow: 1;
}

li {
    list-style-type: none;
}

.button-test {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
}

h2.text-center {
    cursor: default;
}

select.form-control {
    cursor: pointer;
}

input.form-control-file {
    cursor: pointer;
}

.form-control option {
    cursor: pointer;
}

.btn-action {
    width: 100%;
    margin-bottom: 5px;
}