html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}


.card {
    width: 100%; /* Adjust maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure no overflow */
}

.form-input {
    display: flex;
    flex-direction: row;
}

    .form-input label {
        flex: 1 1 auto;
        display: block;
        width: 75px;
        font-weight: bold;
        font-size: 1em;
    }

    .form-input .input-control {
        flex: 1 1 auto;
        display: block;
        margin-bottom: 10px;
        margin-right: 8px;
        padding: 4px;
        margin-top: -4px;
    }

    .form-input input.input-control {
        flex: 1 1 auto;
    }

    .form-input .btn-primary {
        width: 50%;
        height: 40px; /* Adjust height as needed */
        margin-left: calc(100% - 500px);
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }


.nav-options a {
    display: inline-block;
    margin-right: 10px;
}

.button-nav {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

    .button-nav:hover {
        color: black;
    }
    .button-nav.selected {
        background-color: red;
        color: white;
    }
        .button-nav.selected:hover{
            color: white;
        }
