.card {
    width: 100%; /* Adjust maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure no overflow */
}

.input-control {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
}

select.input-control {
    cursor: pointer;
}

nav.input-control {
    display: flex;
}

.button-nav {
    width: 100%;
    display: block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

    .button-nav:hover {
        color: black;
    }

    .button-nav.selected {
        background-color: red;
        color: white;
    }

        .button-nav.selected:hover {
            color: white;
        }

.form-input {
    align-self: flex-end;
}

    .form-input .btn-success {
        width: 200px;
        height: 40px; /* Adjust height as needed */
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        margin-left: auto
    }

.options div {
    cursor: pointer;
}

.question-number h1 {
    cursor: default;
}

.question h2 {
    cursor: default;
}

.pagination button {
    background-color: white;
}

.pagination-button.selected {
    background-color: lightgray;
}

.pagination-button.answered {
    background-color: lightblue;
}