@using Microsoft.AspNetCore.Mvc.TagHelpers
@model QuestionEditFormModel

@{
    ViewBag.Title = "Промени въпрос";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <textarea asp-for="Name" rows="4" class="form-control" placeholder="Условие..."></textarea>
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option1"></label>
                <input asp-for="Option1" class="form-control" placeholder="Възможен отговор 1...">
                <span asp-validation-for="Option1" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option2"></label>
                <input asp-for="Option2" class="form-control" placeholder="Възможен отговор 2...">
                <span asp-validation-for="Option2" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option3"></label>
                <input asp-for="Option3" class="form-control" placeholder="Възможен отговор 3...">
                <span asp-validation-for="Option3" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option4"></label>
                <input asp-for="Option4" class="form-control" placeholder="Възможен отговор 4...">
                <span asp-validation-for="Option4" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectOption"></label>
                <input asp-for="CorrectOption" class="form-control" placeholder="Правилен отговор...">
                <span asp-validation-for="CorrectOption" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points"></label>
                <input asp-for="Points" class="form-control" placeholder="Точки...">
                <span asp-validation-for="Points" class="small text-danger"></span>
            </div>
            @if (Model.ImageBytes != null)
            {
                <div>
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageBytes)" style="width: 100%; height: auto;" alt="Question Image"/>
                </div>
                <div class="form-check">
                    <label asp-for="RemoveImage" class="form-check-label">Премахни чертеж</label>
                    <input asp-for="RemoveImage" class="form-check-input" type="checkbox">
                </div>
                <div class="form-group">
                    <label for="imageFile">Промени чертеж:</label>
                    <br />
                    <input type="file" class="form-control-file" id="imageFile" name="imageFile">
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="imageFile">Добави чертеж:</label>
                    <br />
                    <input type="file" class="form-control-file" id="imageFile" name="imageFile">
                </div>
            }
            <div class="form-group">
                <label asp-for="Solution"></label>
                <textarea asp-for="Solution" rows="4" class="form-control" placeholder="Обяснение..."></textarea>
                <span asp-validation-for="Solution" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId"></label>
                <select asp-for="SubjectId" class="form-control" id="subjectsDropdown">
                    @foreach (var subject in Model.Subjects)
                    {
                        <option value="@subject.Id">@subject.Name</option>
                    }
                </select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicId"></label>
                <select asp-for="TopicId" class="form-control" id="topicsDropdown">
                    <option value="">Избери подраздел</option>
                </select>
                <span asp-validation-for="TopicId" class="text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Запази" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Function to load topics for a subject
            function loadTopics(subjectId, selectedTopicId = null) {
                var topicsDropdown = document.getElementById("topicsDropdown");

                fetch(`../../../Question/OnGetTopics?subjectId=${subjectId}`)
                    .then(response => response.json())
                    .then(topics => {
                        topicsDropdown.innerHTML = "";

                        topics.forEach(topic => {
                            var option = document.createElement("option");
                            option.text = topic.name;
                            option.value = topic.id;
                            topicsDropdown.appendChild(option);

                            if (topic.id === selectedTopicId) {
                                option.selected = true;
                            }
                        });
                    });
            }

            // Listen for changes on the subjects dropdown
            var subjectsDropdown = document.getElementById("subjectsDropdown");
            subjectsDropdown.addEventListener("change", function () {
                loadTopics(this.value);
            });

            // Initial load of topics
            var selectedSubjectId = subjectsDropdown.value;
            var selectedTopicId = @Html.Raw(Json.Serialize(Model.TopicId));
            loadTopics(selectedSubjectId, selectedTopicId);
        });
    </script>
}